packages:
  yum:
    postgresql93-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "server_ui/media/"

container_commands:
  01_application_logs:
    command: "touch /var/log/django_dba.log /var/log/django_dev.log /var/log/django_production.log"
  02_application_logs_permission:
    command: "chmod 777 /var/log/django_*.log"
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
