Mappings:
  CWLogs:
    #WebRequestLogGroup:
    CeleryLogGroup:
      LogFile: "/var/log/celery-worker.log"
      TimestampFormat: "%d/%b/%Y:%H:%M:%S %z"
    #FilterPatterns:
      #CeleryErrorFilter: "[..., status=4*, size, referer, agent]"

Outputs:
  WebRequestCWLogGroup:
    Description: " admin celery logs"
    Value: { "Ref" : "AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0CeleryLogGroup"}

Resources :
  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0CeleryLogGroup:    ## Must have prefix:  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0
    Type: "AWS::Logs::LogGroup"
    DependsOn: AWSEBBeanstalkMetadata
    DeletionPolicy: Retain     ## this is required
    Properties:
      LogGroupName:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: WebRequestCWLogGroup
          DefaultValue: {"Fn::Join":["-", [{ "Ref":"AWSEBEnvironmentName" }, "-Celery"]]}
      RetentionInDays: 30

  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            ## any .conf file put into /tmp/cwlogs/conf.d will be added to the cwlogs config (see cwl-agent.config)
            "/tmp/cwlogs/conf.d/celery.conf":
              content : |
                [apache-access_log]
                file = `{"Fn::FindInMap":["CWLogs", "CeleryLogGroup", "LogFile"]}`
                log_group_name = `{ "Ref" : "AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0CeleryLogGroup" }`
                log_stream_name = {instance_id}
                datetime_format = `{"Fn::FindInMap":["CWLogs", "CeleryLogGroup", "TimestampFormat"]}`
              mode  : "000400"
              owner : root
              group : root